@model Product
@{
    ViewBag.Title = "Details";
}

<div class="col-9">
    <h2>Show Product</h2>
    @if (Model != null)
    {
        <div class="container row">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID: </strong>@Model.Id</li>
                    <li class="list-group-item"><strong>Name: </strong>@Model.ProductName</li>
                    <li class="list-group-item"><strong>Surname: </strong>@Model.Price</li>
                    <li class="list-group-item"><strong>About: </strong>@Model.CreatedDate</li>
                    <li class="list-group-item"><strong>Age: </strong>@Model.UpdatedDate</li>
                </ul>
            </div>
            <div class="col-6">
                <img src="@Model.ImageUrl" alt="image"/>
            </div>
        </div>
    }
    else
    {
        <h3>Product not found</h3>
    }
</div>
