@model Product
@{
    ViewBag.Title = "Details";
}

    <div class="col-9">
    <h2>Show Product</h2>
    @if (Model != null)
    {
        <div class="container row">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID: </strong>@Model.Id</li>
                    <li class="list-group-item"><strong>Name: </strong>@Model.ProductName</li>
                    <li class="list-group-item"><strong>Price: </strong>@Model.Price</li>
                    <li class="list-group-item"><strong>Category: </strong>@Model.Category.Name</li>
                    <li class="list-group-item"><strong>Brand: </strong>@Model.Brand.Name</li>
                    
                    <li class="list-group-item"><strong>CreatedDate: </strong>@Model.CreatedDate.ToString("MM/d/yyyy")</li>
                    <li class="list-group-item"><strong>UpdatedDate: </strong>@Model.UpdatedDate.ToString("MM/d/yyyy")</li>
                </ul>
            </div>
            <div class="col-6">
                <img src="@Model.ImageUrl" alt="image" class="img-fluid" style="width: 100%; max-width: 300px; height: auto; max-height: 300px; object-fit: cover;"/>
            </div>
            <div class="py-3">
                <a asp-action="Edit" asp-controller="Product" asp-route-id="@Model.Id"><button class="btn btn-warning">Edit</button></a>
                <a asp-action="Delete" asp-controller="Product" asp-route-id="@Model.Id"><button class="btn btn-danger">Delete</button></a>
            </div>
        </div>
    }
    else
    {
        <h3>Product not found</h3>
    }
</div>

<div>
    <button type="button" class="btn btn-success" id="commentButton">New comment</button>
    <div id="commentForm" class="invisible">
        <input type="text" placeholder="Name" id="commentName" required>
        <br />
        <textarea placeholder="Your comment" id="commentBody" required></textarea>
        <br />
        <button type="button" class="btn btn-outline-primary" id="newCommentButton"> Save comment</button>
    </div>
    @if (Model.Comments == null || Model.Comments.Count() == 0)
    {
        <p>No Comments yet!</p>
    }
    else
    {
        <div id="comments">
           @{ await Html.RenderPartialAsync("_CommentsPartialView", Model.Comments);}
        </div>
    }
</div>

@section Scripts
{
    <script>
        const getComments = function (){
        let timeOut = setTimeout(function (){
            $('#comments').html('');
            $('#comments').load('@Url.Action("GetComments", "Product")?productId' + @Model.Id);
            }, 2000);
        }
        
        $('#commentButton').click(function (){
            $('#commentForm').removeClass('invisible');
        });
        $('#newCommentButton').click(function (){
            $.ajax({
                url: '@Url.Action("NewComment", "Product")',
                type: 'POST',
                data: {'productId' : @Model.Id,
                        'name' : $('#commentName').val(),
                        'body' : $('#commentBody').val(),
                        },
                success: getComments()
            });
        });
    
    </script>
}
