@model Product
@{
    ViewBag.Title = "Details";
}

    <div class="col-9">
    <h2>Show Product</h2>
    @if (Model != null)
    {
        <div class="container row">
            <div class="col-6">
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID: </strong>@Model.Id</li>
                    <li class="list-group-item"><strong>Name: </strong>@Model.ProductName</li>
                    <li class="list-group-item"><strong>Price: </strong>@Model.Price</li>
                    <li class="list-group-item"><strong>Category: </strong>@Model.Category.Name</li>
                    <li class="list-group-item"><strong>Brand: </strong>@Model.Brand.Name</li>
                    
                    <li class="list-group-item"><strong>CreatedDate: </strong>@Model.CreatedDate.ToString("MM/d/yyyy")</li>
                    <li class="list-group-item"><strong>UpdatedDate: </strong>@Model.UpdatedDate.ToString("MM/d/yyyy")</li>
                </ul>
            </div>
            <div class="col-6">
                <img src="@Model.ImageUrl" alt="image" class="img-fluid" style="width: 100%; max-width: 300px; height: auto; max-height: 300px; object-fit: cover;"/>
            </div>
            <div class="py-3">
                <a asp-action="Edit" asp-controller="Product" asp-route-id="@Model.Id"><button class="btn btn-warning">Edit</button></a>
                <a asp-action="Delete" asp-controller="Product" asp-route-id="@Model.Id"><button class="btn btn-danger">Delete</button></a>
            </div>
        </div>
    }
    else
    {
        <h3>Product not found</h3>
    }
</div>
